#menu-wrapper {
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

#menu-wrapper #hamburger-menu {
  position: relative;
  width: 25px;
  height: 20px;
  margin: 15px;
}

#menu-wrapper #hamburger-menu span {
  opacity: 1;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: black;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}
.accordion-content.open {
  z-index: 9999;
  transform: translateX(0);
  transition: 0.8s;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  left: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
  padding-bottom: 20px;
}
.menu-submenu.accordion-content li:not(:first-of-type) {
  padding: 0px 44px;
  margin-bottom: 24px;
}
.menu-submenu.accordion-content li:not(:first-of-type) a {
  font-family: ff-enzo-web !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 100% !important;
  color: #34343e !important;
  padding: 0px !important;
}
.menu-submenu.accordion-content li:first-of-type {
  margin-bottom: 80px;
}
#menu-container .menu-list {
  padding-left: 0;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 450px;
  background: white;
  box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
}

#menu-container .menu-list li.accordion-toggle,
#menu-container .menu-list .menu-login {
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
  border-top: 0;
}

.accordion-toggle,
.accordion-content {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}

.accordion-content {
  display: none;
  position: fixed;
  background: linear-gradient(
      rgb(241, 206, 223) 0%,
      rgb(245, 215, 231) 32.94%,
      rgb(251, 230, 246) 57.81%,
      rgb(191, 195, 205) 100%
    )
    0% 0% / 100% 100%;
  width: 100%;
  height: 100%;
  text-align: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* margin-top: 55px; */
  transform: translateX(-100%);
  transition: 0.8s;
  padding: 28px 0px;
}

.accordion-toggle span[class^="icon-"] {
  position: absolute;
  right: 10px;
  font-size: 25px;
  top: calc(50% - 24px);
}
.accordion-toggle span.icon-plus,
.accordion-toggle span.icon-minus {
  font-size: 35px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.accordion-toggle span.icon-plus {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-minus:before {
  content: "\2013";
}
.icon-plus,
.icon-minus {
  position: absolute;
  right: 16px;
  top: 0;
}
.icon-plus:before {
  content: "+";
}

.menu-submenu a.head {
  font-size: 20px !important;
  line-height: 20px !important;
  padding-left: 32px;
}
.only_mobile {
  display: none !important;
}
.work-slider {
  margin-top: 16px;
}
.title_work_it {
  padding-left: 120px;
}
.product-slider .owl-item:nth-of-type(odd) {
  margin-top: inherit;
}
.product-slider .owl-item:nth-of-type(odd) .post-slide .post-img img {
  height: 37vw;
  object-fit: cover;
}
.product-slider .owl-item:nth-of-type(even) .post-slide .post-img img {
  height: 37vw;
  object-fit: cover;
}
.product-slider .owl-item:nth-of-type(odd) .post-slide {
  width: 100%;
  /* margin: inherit; */
  position: relative;
}
.col_instagram_4 {
  width: 25%;
  padding: 0 16px;
}
@media (max-width: 1150px) {
  .product-slider .owl-item:nth-of-type(odd) .post-slide .post-img img {
    height: 56vw;
  }
  .product-slider .owl-item:nth-of-type(even) .post-slide .post-img img {
    height: 56vw;
  }
  .btn_center {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 990px) {
  .col_instagram {
    overflow: hidden;
  }
  .col_instagram img {
    min-width: auto;
    height: 100%;
    object-fit: cover;
  }
  .cover_txt2 {
    top: -20%;
  }
  .col_instagram_4 {
    width: 50%;
  }
  .row_insta .col_instagram:nth-of-type(odd) {
    top: inherit !important;
  }
  .row_insta .col_instagram {
    margin-bottom: 32px;
  }
}
.btn-cover span {
  z-index: 9;
}
@media (max-width: 767px) {
  .bg_lux {
    bottom: -30vh;
    font-size: 86px;
    line-height: 100%;
  }

  .header-area .main-header-area.sticky {
    top: 0;
    transform: inherit;
  }
  .cover_txt2 {
    top: -22%;
  }
  .bgsection_insta {
    width: 150%;
    height: 55%;
  }
  .border_foo .container-block {
    width: 88%;
  }
  .pd_fooright {
    padding-top: 80px !important;
    padding-bottom: 32px !important;
  }
  .news_letter {
    padding-top: 30px !important;
  }
  .border_foo {
    overflow: hidden;
  }
  .news_letter::before {
    content: "";
    background: #dfbaca;
    height: 1px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -25px;
  }
  .footer .news_letter .subtitle_footer {
    margin-bottom: 50px;
  }
  .container_foo_menu .main-nav {
    width: 65%;
  }
  .container_foo_menu .main-nav ul {
    display: block;
    padding: 32px 0px;
  }
  .container_foo_menu .main-nav ul li {
    text-align: left;
  }
  .back-to-top {
    border-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 34px;
  }
  .main-nav2 ul {
    justify-content: flex-start;
  }
  .main-nav2 ul li {
    margin-right: 16px;
  }
  .footer .copy-right_text .copy_right,
  .footer .copy-right_text .copy_right a {
    font-size: 11px !important;
    line-height: 16px !important;
    text-align: left !important;
  }
  .footer .copy-right_text .copy_right {
    margin-bottom: 8px;
  }
  .footer .copy-right_text .copy_right:last-of-type {
    margin-bottom: 0px;
  }
}
@media (max-width: 735px) {
  .pd_fooleft {
    background: #b9bdc9;
  }

  .pd_fooleft .logo_footer svg path {
    fill: #1d1d1f !important;
    stroke: #1d1d1f !important;
  }
  .pd_fooleft .footer_title,
  .pd_fooleft .adr_foo {
    color: #1d1d1f !important;
  }
  .pd_fooleft .social_footer li a svg path {
    fill: #1d1d1f !important;
  }
  .accessoire {
    background-attachment: inherit !important;
    /* background-size: inherit !important; */
    background-size: 160% 100% !important;
  }
  .title_section h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .main-content2 .owl-theme .custom-nav {
    display: none;
  }
  .product-slider .owl-stage {
    left: -20px;
  }
  .product-slider .owl-item:nth-of-type(odd) .post-slide .post-img img {
    height: 70vh;
  }
  .product-slider .owl-item:nth-of-type(even) .post-slide .post-img img {
    height: 70vh;
  }
}

@media (max-width: 990px) {
  .only_mobile {
    display: block !important;
  }
}
.d_block_mobile {
  display: none !important;
  position: relative !important;
  width: 100%;
  top: auto !important;
  right: inherit;
  left: inherit;
  margin-bottom: 24px;
}
.d_block_desktop {
  display: flex;
}
.justify_center {
  justify-content: center;
}

.d__mobile {
  display: none;
}
.search_mobile {
  opacity: 1 !important;
  z-index: 9 !important;
}
.top-search-form .search-field {
  padding: 16px 50px 20px 24px;
}
.signin_mobile {
  display: none;
}
.signin_mobile .sign_in {
  opacity: 1 !important;
  z-index: 992 !important;
  font-family: ff-enzo-web !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #34343e;
}
.signin_desktop {
  display: block;
}
.header_mobile_menu {
  position: absolute;
  top: 28px;
  width: 100%;
  padding: 24px 0 24px 50px;
  left: 0;
  border-top: 1px solid #d3afc1;
  border-bottom: 1px solid #d3afc1;
}
/* .header_mobile_menu .search_mobile {
  margin-right: 40px;
} */
.close_si_so {
  position: absolute;
  top: 50px;
  right: 50px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  z-index: 992;
  margin: 0px !important;
}
.top_search_mobile {
  margin-top: 28px;
  padding: 20px;
  border-top: 1px solid #d3afc1;
  border-bottom: 1px solid #d3afc1;
}
.top_search_mobile label {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  text-transform: capitalize;
  color: #34343e;
}
.top_search_mobile {
  display: none;
}
@media (max-width: 1150px) {
  .cover_other {
    padding-top: 180px !important;
  }
  .img2 {
    top: 35% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding-top: 25px;
  }
}
@media (max-width: 990px) {
  .block_2 {
    height: 65vh;
  }
  .img1 {
    width: 65%;
  }
  .top-mobile {
    top: -5% !important;
  }
  .section_process {
    overflow: hidden;
  }
  .cover_other .cover-about .content_cover {
    font-size: 56px;
    line-height: 64px;
  }
  .navigation-portrait .nav-brand.open_mn {
    z-index: -1;
    display: none;
  }
  .about_home_section {
    position: relative;
    top: -4vh;
  }
  .about_home_section p {
    margin-top: 0px !important;
  }
  .header-area .main-header-area.sticky .menuBtn.d_block_mobile span {
    background-color: #000;
  }
  .cover_txt1 {
    position: relative;
    top: inherit;
  }
  .img_col .btn-cover {
    top: inherit;
    right: inherit;
    float: inherit;
    margin-top: 64px;
  }
  .cover_txt1 h1 {
    font-size: 56px;
    line-height: 64px;
    max-width: 80%;
    margin: auto;
  }
  .img_top_products .img_col:first-child,
  .img_top_products .img_col:last-child {
    display: none;
  }
  .img_top_products .img_col {
    width: 100%;
  }
  .container-block {
    width: 92%;
  }
  .block_top_prod .center_title {
    width: 100%;
  }
  .block_top_prod .center_title h3 {
    font-size: 48px;
    line-height: 110%;
  }
  .center_cover {
    top: 35%;
  }
  .btn-cover {
    max-width: 128px;
    min-width: 128px;
    height: 128px;
    width: 128px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top_search_mobile {
    display: block;
  }
  .close_si_so {
    right: 30px;
  }
  .open_mn {
    top: 10px !important;
  }
  .searchClose {
    top: 48px;
  }
  .searchClose svg path {
    stroke: #000 !important;
  }
  .header_cover .header_top .menuBtn input:checked ~ span:nth-child(3),
  .header_cover .header_top .menuBtn input:checked ~ span:nth-child(4) {
    background: #000;
  }
  .header_mobile_menu {
    display: flex !important;
  }
  .signin_desktop {
    display: none;
  }
  .signin_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
  }

  .container_search {
    width: 90%;
    top: 10vh;
  }
  .top-search-form.search_mobile_form {
    height: 100vh;
    background: #f0cedf;
  }
  .top-search-form.search_mobile_form .search-field {
    color: #000 !important;
    border: 1px solid #d3afc1;
  }
  .top-search-form.search_mobile_form .search-submit {
    border-left: 1px solid #d3afc1;
    width: 20%;
  }
  .top-search-form.search_mobile_form svg {
    margin-left: 10px;
    stroke: #34343e;
  }

  .top-search-form .search-field::-webkit-input-placeholder {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #34343e !important;
  }

  .top-search-form .search-field::-moz-placeholder {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #34343e !important;
  }

  .top-search-form .search-field:-ms-input-placeholder {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #34343e !important;
  }

  .top-search-form .search-field:-moz-placeholder {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #34343e !important;
  }
  .d_none_mobile {
    display: none;
  }
  .d__mobile {
    display: block;
  }
  .footer_menu {
    display: block;
  }
  .navigation-portrait {
    height: 72px;
  }
  .d_block_mobile {
    display: flex !important;
  }
  .header_cover .header_top .menuBtn input:checked ~ span:nth-child(4) {
    top: -6px !important;
  }
  .menuBtn.d_block_mobile {
    margin: 0px !important;
    width: 54px;
    height: 20px !important;
    top: 28px !important;
    left: 5px;
  }
  .d_block_desktop {
    display: none !important;
  }
  .menuBtn.d_block_mobile {
    order: 0;
  }
  .menuBtn.d_block_mobile.open_mn {
    order: 1;
    right: 7px;
    left: auto;
  }
  .header-area .main-header-area.sticky .menuBtn.d_block_mobile.open_mn {
    top: 50px !important;
  }
  .signin_mobile .sign_in {
    position: absolute;
    left: 20px;
    width: auto;
    min-width: 100px;
    top: 5px;
  }
  .navigation-portrait .nav-brand {
    /* background: ; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .link_shop .cart_header {
    margin: 0px;
    margin-top: 13px;
  }
  .cursor-dot-outline,
  .cursor-dot {
    display: none;
    pointer-events: all;
  }
  .accordion-content {
    display: block !important;
  }
  .nav-header {
    z-index: 9;
  }
  .btn_close_submenu {
    width: 100%;
    padding: relative;
    z-index: 9999;
    height: 72px;
    background: transparent;
    border: 0px;
    outline: none;
    border-top: 1px solid #d3afc1;
    border-bottom: 1px solid #d3afc1;
    font-family: IvyMode;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    text-align: center;
    text-transform: capitalize;
    position: relative;
    color: #34343e;
  }
  .icon_back_menu {
    position: absolute;
    left: 28px;
    top: 28px;
  }
  .header_cover .header_top .fullscreen_menu .right .menu_links li a:hover {
    transform: translateX(0px) !important;
  }
  .hover-3:after {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .bg_collection {
    font-size: 100px;
    line-height: 100%;
    top: 28%;
    -webkit-text-stroke: 1px;
    color: #f1cedf;
    text-align: center;
    letter-spacing: -0.02em;

    opacity: 0.12;
  }
  .text-right {
    text-align: inherit !important;
  }
  .title-left_product h2 {
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 8px;
    text-align: center;
  }
  .link-left_product {
    margin: 40px 0;
  }
  .link-left_product a {
    padding: 32px 22px;
    margin-top: 32px;
    top: inherit;
    position: relative;
  }
  .work_title {
    font-size: 48px;
    line-height: 110%;
  }
  .title_work_it {
    padding-left: 20px;
  }
  .block_2 {
    height: 70vh;
  }
  .btn_center {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .bg_lux {
    bottom: -25vh;
  }
}
.btn_top {
  justify-content: flex-end;
}
.d__desktop {
  display: block;
}
.d__gal {
  display: flex;
}
.d__mb {
  display: none;
}
.clear_filter {
  display: flex;
  margin-top: 32px;
}
.btn_clear_filter {
  margin-right: 8px;
}
.btn_choose_filter {
  margin-left: 8px;
  font-family: ff-enzo-web;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 100% !important;
  padding: 16px 0;
  border: 1px solid #34343e;
  background: #34343e;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
.link_next .arrow-next,
.link_prev .arrow-prev {
  width: 16px;
}
.product-pagination .page-link,
.product-pagination .page-link:active,
.product-pagination .page-link:focus {
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .bg_white_mobile {
    background: #f0f0f4;
    position: relative;
  }
  .bg_white_mobile::before {
    content: "";
    position: absolute;
    background: #f0f0f4;
    top: 0;
    bottom: 0;
    left: -20px;
    right: -20px;
    width: 110vw;
    height: 100%;
    z-index: -1;
  }
  .container-block_2 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .overflow_hide_mobile {
    overflow-x: hidden;
  }
  .row_card {
    border-bottom: 0px;
  }
  .row_card .col_card_img {
    width: 50%;
    border-bottom: 1px solid #c5c5cc;
  }
  .row_card .col_card {
    width: 50%;
    border-bottom: 1px solid #c5c5cc;
  }
  .multi-step-form .steps {
    display: block;
  }
  .multi-step-form .steps,
  .multi-step-form .steps button {
    width: 100%;
  }
  .multi-step-form .steps button {
    border: 1px solid #34343e;
  }
  .remove_r.d_mobile {
    right: -96%;
  }
  .text_icon {
    margin: 10px 0;
  }
  .row_icon_prod {
    margin: 10px 0 40px 0;
  }
  .filter_design_mb {
    margin-bottom: 24px;
  }
  .mobile_filter_designer a:not(:first-child) {
    width: 40px;
    height: 32px;
    margin-right: 16px;
    text-align: center;
  }
  .mobile_filter_designer a:first-child {
    margin-bottom: 48px;
    width: 100%;
  }
  .d__gal {
    display: none;
  }
  .d__desktop {
    display: none;
  }
  .d__mb {
    display: block;
  }
  .btn_top .explore {
    float: left;
    margin: 20px 0px;
    font-size: 16px;
    line-height: 24px;
  }
  .close_filter .ham_filter span:before {
    top: 2px;
    width: 12px;
    transform: inherit;
  }
  .close_filter .ham_filter span:after,
  .btn_filter:hover span:after {
    bottom: 0;
    width: 8px;
    transform: inherit;
  }
  .filter_mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 999999;
    overflow-x: hidden;
  }
  .pos_header {
    position: relative;
  }
  .header_filter_mobile {
    padding: 20px 0px;
    font-family: IvyMode;
    text-transform: capitalize;
    color: #34343e;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
    position: relative;
  }
  .header_filter_mobile:before {
    content: "";
    width: 100vw;
    left: -8vw;
    background: #d3afc1;
    opacity: 0.3;
    height: 1px;
    position: absolute;
    top: 0;
  }
  .header_filter_mobile:after {
    content: "";
    width: 100vw;
    left: -8vw;
    background: #d3afc1;
    opacity: 0.3;
    height: 1px;
    position: absolute;
    bottom: 0;
  }
  .header_filter_mobile .close_filter {
    padding: 0px !important;
  }
  .filter-section .title_filter {
    display: none;
  }
  .header_filter_mobile label {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 100%;
    margin: 0px;
    color: #34343e;
  }

  .content_recommend .owl-carousel.recommend-slider .owl-stage-outer {
    overflow: visible;
  }
  .owl-carousel.recommend-slider.owl-drag .owl-item {
    width: 75vw !important;
  }
  .content_recommend .owl-theme .custom-nav {
    display: none;
  }
  .contact_form h5 {
    font-size: 48px;
    line-height: 110%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .bg_contact {
    background-position: left 28%;
  }
  .col_contact {
    margin-bottom: 24px;
  }
  .contact_forms {
    margin-top: 16px;
  }
  .card_press {
    padding-left: 0px;
    padding-right: 0px;
  }
  .content_privacy::after {
    bottom: -15px;
  }
  .slider_product_mobile .slick-slide img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
  }
  .slider_product_mobile .slick-dots {
    display: flex !important;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
  }
  .slider_product_mobile .slick-dots li {
    margin: 0 0.25rem;
  }
  .slider_product_mobile .slick-dots button {
    display: block;
    width: 4px;
    height: 4px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: #ac929f;
    opacity: 0.3;
    text-indent: -9999px;
  }
  .slider_product_mobile .slick-dots li.slick-active button {
    width: 8px;
    height: 8px;
    background: #ac929f;
    position: relative;
    top: -2px;
  }
  .row_card {
    margin-bottom: 32px;
  }
  .row_card .col_card .cell_card .title_cell {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .row_card .col_card .cell_card .content_cell {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  .row_card .col_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .row_card .col_card:not(:nth-child(-n + 2)) {
    width: 100%;
    flex-direction: row;
  }
  .row_card .col_card:not(:nth-child(-n + 2)) .cell_card {
    width: 50%;
  }
  .link_coupon {
    font-size: 20px;
    line-height: 24px;
  }
  .col_total {
    width: 50% !important;
    margin-bottom: 24px;
  }
  .col_total .title_total {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .col_total .price_total {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
  }
  .multi-step-form fieldset {
    padding-bottom: 80px !important;
  }
  .field_step .block_card.mb_60 {
    margin-bottom: 60px !important;
  }
  .content-block_form {
    margin-top: 32px;
  }
  .row_rad {
    margin-bottom: 0px !important;
  }
  .mt_48_mobile {
    margin-top: 48px;
  }

  .logo_press {
    float: left;
  }
  .link_see a {
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    float: left;
  }
}
@media (max-width: 550px) {
  .img2 {
    top: 25% !important;
  }
  .block_2 {
    height: 40vh;
  }
  .btn_center {
    margin-top: 0px;
  }
}

.cursor-dot {
  background-color: #000;
}

.cursor-dot-outline {
  border: 1px solid #000;
}
.exclusion-shape1 {
  mix-blend-mode: inherit;
  opacity: 0.5;
}
.exclusion-shape1 h1 {
  color: #bba2ae !important;
  opacity: 0.9;
}
.tabs {
  width: 100%;
  background-color: transparent;
  margin-top: 32px;
}
ul.tabs-nav {
  list-style: none;
  margin: 0;
  overflow: auto;
  border-bottom: 1px solid #000;
  display: flex;
}

ul.tabs-nav li {
  font-weight: normal;
  padding: 5px 10px;
  cursor: pointer;
  border-right: 1px solid #000;
  transition: all 0.2s ease;
  /* margin-bottom: 5px; */
}
ul.tabs-nav li:last-of-type {
  border-right: 0px;
}

ul.tabs-nav li.active {
  font-weight: 600;
}

.tabs-nav li a {
  text-decoration: none;

  color: #000;
}
.tab-content {
  padding: 10px;
  background-color: transparent;
}
.header_cover .header_top .fullscreen_menu .left {
  background: inherit !important;
}

.whatsapp_link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

@media (max-width: 950px) {
  .footer_menu {
    bottom: 10px;
  }
  .header_cover .header_top .fullscreen_menu .right .menu_links {
    position: relative;
    top: -25px;
  }
}
@media (max-width: 767px) {
  .header_cover .header_top .fullscreen_menu .right .menu_links li a {
    font-size: 26px;
    line-height: 30px;
  }
  .label_section {
    width: 100%;
  }
  .product-pagination {
    width: 100% !important;
  }
  .product-pagination .page-link:not(.active) {
    display: none;
  }
  .pagination {
    justify-content: space-between !important;
  }
  .pagination li:last-child a {
    padding-left: 0px;
  }
  .pagination li:first-child a {
    margin-right: 16px;
    padding-left: 0px;
  }
  .filter-section .mb-0 > a:hover {
    color: #000;
  }
  .header_filter_mobile:before {
    display: none;
  }
  .recommend_products {
    display: none;
  }
  .pagination_text {
    display: flex;
  }
  .content-block_form .row_card_2 .block_input:nth-of-type(1) {
    margin-bottom: 16px !important;
  }
  .content-block_form .row_card_2 .block_input:nth-of-type(2) {
    margin-right: 4% !important;
  }
  .content-block_form .row_card_2 .block_input:nth-of-type(2),
  .content-block_form .row_card_2 .block_input:nth-of-type(3) {
    width: 48% !important;
  }
  .link_end a {
    display: none !important;
  }
  .header_filter_mobile .btn_filter {
    padding: 0px !important;
  }
}
@media (max-width: 560px) {
  .pagination_text {
    display: flex !important;
  }
}
@media (max-width: 413px) {
  .header-area
    .main-header-area.sticky.header_onopen
    .menuBtn
    input:checked
    ~ span:nth-child(3) {
    left: -4px;
    top: 0;
  }
}
.dress_rental {
  position: relative;
  z-index: 9;
}
/* new slider mobile version page about  */
.main-content_dress {
  position: relative;
}
.main-content_dress .owl-theme .custom-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 99%;
  height: 95%;
  margin: 0 auto;
}
.main-content_dress .owl-theme .custom-nav {
  display: flex !important;
  justify-content: center;
  gap: 16px;
  z-index: 9;
}
.dress_rental .owl-item {
  position: relative;
}
.dress_rental .owl-item .post-slide {
  padding: 40px;
  position: relative;
  margin: 0px;
}

.dress_rental .owl-item .post-slide h5 {
  font-family: ff-enzo-web;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #34343e;
  margin: 50px 0 16px 0;
}
.main-content_dress .owl-theme .owl-controls {
  position: relative;
}

.main-content_dress .owl-theme .custom-nav .owl-prev {
  transform: translateX(-20px) rotate(180deg);
  background: #34343e;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.main-content_dress .owl-theme .custom-nav .owl-next {
  background: #34343e;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.main-content_dress .owl-theme .custom-nav .owl-next,
.main-content_dress .owl-theme .custom-nav .owl-prev {
  position: relative !important;
}
.main-content_dress .owl-theme .custom-nav .owl-next svg,
.main-content_dress .owl-theme .custom-nav .owl-prev svg {
  transform: translateX(-20px);
}
.main-content_dress .owl-theme .custom-nav .owl-next.disabled,
.main-content_dress .owl-theme .custom-nav .owl-prev.disabled {
  opacity: 1 !important;
}

.title_process_items {
  padding: 40px;
  border-top: 1px solid #34343e;
  border-left: 1px solid #34343e;
  border-right: 1px solid #34343e;
}
.title_process_items h4 {
  font-family: IvyMode;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 110%;
  text-transform: capitalize;
  color: #34343e;
}
.dress_rental .owl-stage-outer {
  border: 1px solid #34343e;
}
.d_done_desktop {
  display: none;
}
@media (max-width: 767px) {
  .d_done_mobile {
    display: none;
  }
  .d_done_desktop {
    display: flex;
  }
}
